// Configuration Vars
$config-inc: (
    style-color-checker: "prosilver",
    phpbb-version: "3.2"
);

$bg-image-params: (
    color: "",
    url: "",
    repeat: "",
    position: "",
    attachment: ""
);
